@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

body {
  margin: 0;
  padding: 0;
  height: 400vh;
}

.main_global{
    background-color: #099496;
  font-family: "NanumSquareB";
  padding-left: 150px;
  padding-right: 150px;
  height: 100vh;
}


.header_wrapper {
  height: 120px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.logo_box {
  width: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 400px;
}

.img_box {
  width: 40px;
  height: 40px;
}

.logo_title {
  margin-left: 45px;
  color: white;
  font-size: 30px;
  font-family: "NanumSquareEB";
  font-weight: bold;
}

.header_list {
  display: flex;
  flex-direction: row;
  font-family: "NanumSquareB";
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
}

.header_link {
  margin-right: 30px;
  color: white;
  white-space: nowrap;
}

.header_button {
  color: #19b6b6;
  font-weight: 600;
  width: 150px;
  height: 50px;
  font-size: 16px;
  border-radius: 30px;
  white-space: nowrap;
  border: none;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.menu_form {
    width: 1200px;
  height: 590px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu_form_flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.today_menu_flex {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
}

.today_menu {
  font-size: 48px;
  font-weight: bold;
  color: white;
  font-family: "NanumSquareEB";
}

.today_date {
  color: #FFFFFFB3;
  font-size: 24px;
}

.today_menu_item {
  background-color: #078f91;
  width: 220px;
  border-radius: 10px;
  height: 316px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.today_menu_item_box {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.today_time {
    color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.today_menu_item_center {
  color: white;
  font-size: 18px;
  white-space: nowrap;
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.preview_button {
  color: #19b6b6;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
}

.button_flex {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img_menu{
    width: 438px;
    height: 410px;
}

.img_flex{
    display: flex;
    align-items: center;
}


.second_global{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_center{
    width: 1200px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_title_wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.main_title{
    color: #19b6b6;
    font-size: 36px;
    
}

.main_sub_title{
    color: #9e9e9e;
    font-size: 16px;
    margin-top: 20px;
}

.second_item_box{
    width: 1200px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.second_item{
    width: 280px;
    height: 500px;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.second_item_box_flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second_item_title{
    font-size: 30px;
    margin-bottom: 30px;
}

.second_item_sub_title{
    font-size: 18px;
    margin-bottom: 10px;
}

.second_item_button{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    margin-top: 40px;
}

.img_box_second{
    width: 100px;
    height: 100px;
    margin-bottom: 50px;
}


.third_global{
    background-color: #f5f5f5;
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.third_main_center{
    width: 1200px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.third_title_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5.75rem;
}

.third_title{
    color: #19b6b6;
    font-size: 36px;
    margin-bottom: 20px;
}

.third_sub_title{
    color: #9e9e9e;
    font-size: 18px;
}

.third_item{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 31.25rem;
    border-radius: 1rem;
    z-index: 2;
}

.third_item_left{
    background-image: url(https://www.dsm-dms.com/static/media/img_notice.49c25327.png);
    width: 50%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.third_item_right{
    background-image: url(https://www.dsm-dms.com/static/media/img_rule.f0c9f93a.png);
    width: 50%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.third_item_title{
    color: white;
    position: relative;
    font-size: 24px;
    top: 420px;
    left: 2.625rem;

}

.third_svg_left{
    position: absolute;
    width: 17.75rem;
    left: 100px;
    z-index: 1;
}

.third_svg_right{
    position: absolute;
    width: 17.875rem;
    right: 100px;
    z-index: 0;
}

.fourth_title_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 75px;
}

.fourth_title{
    color: #19b6b6;
    font-size: 32px;
    margin-bottom: 20px;
}

.fourth_sub_title{
    font-size: 18px;
}

.fourth_item_box_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
}

.fourth_item_box{
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.fourth_item{
    background-color: #099496;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.fourth_item_text{
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
}

.fourth_svg_back{
    position: absolute;
    width: 89.4375rem;
    height: 44.1875rem;
}

.fourth_svg_left_first{
    position: absolute;
    width: 5.0625rem;
    left: 60px;
    margin-top: 560px;
}

.fourth_svg_left_second{
    position: absolute;
    width: 10.8125rem;
    left: 150px;
    margin-top: 290px;
}

.fourth_svg_right{
    position: absolute;
    width: 16.5rem;
    right: 60px;
    margin-top: 360px;
}

.fourth_background{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.footer_global{
  background-color: #e0e0e0;
  height: 500px;
  display: flex;
  justify-content: center;
}

.footer_main_center{
  width: 75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer_content_box{
  width: 100%;
  height: 23.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.footer_content_card_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 14.875rem;
}

.footer_content_card_team{
  font-size: 18px;
  margin-bottom: 1.25rem;
  color: #616161;
  
}

.footer_content_card{
  color: #9e9e9e;
  font-size: 18px;
  margin-top: 1.25rem;
}



.footer_bottom_box{
  width: 100%;
  height: 7.375rem;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.footer_team_name_box{
  display: flex;
  align-items: center;
  margin-right: 850px;
}

.footer_team_name_title{
  font-size: 18px;
}

.footer_team_name_icon{
  margin-right: 40px;
}

.footer_bottom_link{
  margin-left: 30px;
}



